In [1]:
import mysql.connector
import getpass #not mysql library
import pandas as pd

In [9]:
usrname='root'
conn = mysql.connector.connect(host="localhost", user=usrname, passwd="", db="eup_big")
cursor = conn.cursor()

In [10]:
cursor.execute("USE eup_big")

# 0) Some inquiries to see the contents of the database

AGENDA ITEMS

In [11]:
#Number of agenda items 
agenda_items = """SELECT COUNT(*) FROM agenda_item """
pd.read_sql(agenda_items, conn)

   COUNT(*)
0     21678

In [12]:
#Number of Agenda Items per year (1999-2014)
sql_query = """SELECT COUNT(ai.Title), ai.year
                FROM  agenda_item ai
                GROUP BY ai.year"""
pd.read_sql(sql_query, conn)

    COUNT(ai.Title)  year
0               269  1999
1               712  2000
2               722  2001
3               653  2002
4               658  2003
5               618  2004
6              1661  2005
7              1881  2006
8              1915  2007
9              1989  2008
10             1591  2009
11             1685  2010
12             1838  2011
13             1606  2012
14             2325  2013
15             1555  2014

SPEECHES

In [13]:
# Total number of speeches 
speech = """SELECT COUNT(Speech_ID) FROM speech """
pd.read_sql(speech, conn)

   COUNT(Speech_ID)
0             66858

In [14]:
# speeches per year (2008-2014)
speech = """SELECT COUNT(s.Speech_ID), ai.year
            FROM speech as s, agenda_item as ai
            WHERE ai.Agenda_item_ID = s.Agenda_item_ID
            GROUP BY ai.year
            """
pd.read_sql(speech, conn)

   COUNT(s.Speech_ID)  year
0                4265  2008
1                8676  2009
2               11794  2010
3               13273  2011
4               11256  2012
5               12174  2013
6                5420  2014

MEPs

In [8]:
# number of representatives:  
MEPs = """SELECT COUNT(pm.MEP_ID), c.Name
            FROM parliament_member as pm, represents as r, country as c
            WHERE pm.MEP_ID = r.MEP_ID AND r.CountryAcronym = c.acronym
            GROUP BY c.Name
            ORDER BY COUNT(pm.MEP_ID) DESC
            """
pd.read_sql(MEPs, conn)

    COUNT(pm.MEP_ID)            Name
0                473          France
1                458           Italy
2                330         Germany
3                257  United_Kingdom
4                242           Spain
5                164          Greece
6                132          Poland
7                124        Portugal
8                117     Netherlands
9                116         Belgium
10                82         Romania
11                73         Denmark
12                70          Sweden
13                66         Ireland
14                60         Austria
15                53         Finland
16                52         Hungary
17                48  Czech_Republic
18                36        Bulgaria
19                32       Lithuania
20                29        Slovakia
21                26      Luxembourg
22                21          Latvia
23                18        Slovenia
24                14          Cyprus
25                14         Estonia
26                11           Malta

COUNTRIES

There are 27 member states in the database

EU PARTIES

In [11]:
# 17 EU parties ( I believe these are current parties)
eu_party = """SELECT * FROM `eu_party`"""
pd.read_sql(eu_party, conn)

                                      Inst_Acronym
0      http://purl.org/linkedpolitics/EUParty/ALDE
1       http://purl.org/linkedpolitics/EUParty/ECR
2       http://purl.org/linkedpolitics/EUParty/EDD
3       http://purl.org/linkedpolitics/EUParty/EFD
4      http://purl.org/linkedpolitics/EUParty/EFDD
5      http://purl.org/linkedpolitics/EUParty/ELDR
6       http://purl.org/linkedpolitics/EUParty/EPP
7    http://purl.org/linkedpolitics/EUParty/EPP-ED
8   http://purl.org/linkedpolitics/EUParty/EUL/NGL
9     http://purl.org/linkedpolitics/EUParty/G/EFA
10  http://purl.org/linkedpolitics/EUParty/IND/DEM
11      http://purl.org/linkedpolitics/EUParty/ITS
12       http://purl.org/linkedpolitics/EUParty/NA
13      http://purl.org/linkedpolitics/EUParty/PES
14      http://purl.org/linkedpolitics/EUParty/S&D
15      http://purl.org/linkedpolitics/EUParty/TGI
16      http://purl.org/linkedpolitics/EUParty/UEN

In [12]:
# How many members EU parties have? Based on political institution table: There is more about 40
members = """SELECT DISTINCT Inst_Acronym 
                FROM in_political_function
                WHERE Inst_Acronym LIKE '%EUParty%' """
pd.read_sql(members, conn)

                                        Inst_Acronym
0        http://purl.org/linkedpolitics/EUParty/ALDE
1         http://purl.org/linkedpolitics/EUParty/ARC
2         http://purl.org/linkedpolitics/EUParty/ARE
3          http://purl.org/linkedpolitics/EUParty/CG
4        http://purl.org/linkedpolitics/EUParty/CTDI
5         http://purl.org/linkedpolitics/EUParty/DEP
6          http://purl.org/linkedpolitics/EUParty/DR
7         http://purl.org/linkedpolitics/EUParty/ECR
8          http://purl.org/linkedpolitics/EUParty/ED
9         http://purl.org/linkedpolitics/EUParty/EDD
10        http://purl.org/linkedpolitics/EUParty/EFD
11       http://purl.org/linkedpolitics/EUParty/EFDD
12       http://purl.org/linkedpolitics/EUParty/ELDR
13        http://purl.org/linkedpolitics/EUParty/EPP
14     http://purl.org/linkedpolitics/EUParty/EPP-ED
15    http://purl.org/linkedpolitics/EUParty/EUL/NGL
16         http://purl.org/linkedpolitics/EUParty/FE
17      http://purl.org/linkedpolitics/EUParty/G/EFA
18        http://purl.org/linkedpolitics/EUParty/GUE
19    http://purl.org/linkedpolitics/EUParty/GUE/NGL
20      http://purl.org/linkedpolitics/EUParty/I-EDN
21    http://purl.org/linkedpolitics/EUParty/IND/DEM
22        http://purl.org/linkedpolitics/EUParty/ITS
23          http://purl.org/linkedpolitics/EUParty/L
24        http://purl.org/linkedpolitics/EUParty/LDR
25         http://purl.org/linkedpolitics/EUParty/NA
26         http://purl.org/linkedpolitics/EUParty/NI
27        http://purl.org/linkedpolitics/EUParty/PES
28        http://purl.org/linkedpolitics/EUParty/PPE
29     http://purl.org/linkedpolitics/EUParty/PPE-DE
30        http://purl.org/linkedpolitics/EUParty/PSE
31        http://purl.org/linkedpolitics/EUParty/RDE
32          http://purl.org/linkedpolitics/EUParty/S
33        http://purl.org/linkedpolitics/EUParty/S&D
34        http://purl.org/linkedpolitics/EUParty/TDI
35        http://purl.org/linkedpolitics/EUParty/TGI
36        http://purl.org/linkedpolitics/EUParty/UEN
37          http://purl.org/linkedpolitics/EUParty/V
38  http://purl.org/linkedpolitics/EUParty/Verts/ALE

In [13]:
# "ARE" and EU party; their link does not work: I checked it seems they ceased to be
members_ARE = """SELECT MEP_ID, RoleName, Inst_Acronym, Start_date, End_date
                FROM in_political_function
                WHERE Inst_Acronym LIKE 'http://purl.org/linkedpolitics/EUParty/ARE' """
pd.read_sql(members_ARE, conn)

,MEP_ID,RoleName,Inst_Acronym,Start_date,End_date
0,1002,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1996-03-28
1,1158,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
2,1213,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
3,1369,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
4,1470,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1994-07-20
5,1470,http://purl.org/linkedpolitics/Role/treasurer,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-21,1998-10-14
6,1868,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1996-09-17
7,1885,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1999-01-21,1999-07-19
8,1959,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
9,1978,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1997-01-01,1997-06-05
10,2009,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1996-09-18,1999-07-19
11,2043,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
12,2127,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1997-02-04
13,2130,http://purl.org/linkedpolitics/Role/chair,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
14,2137,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
15,2139,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1996-12-30
16,2168,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1998-08-25
17,2200,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1995-10-11,1999-07-19
18,2237,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
19,2238,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
20,2239,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1996-07-16
21,2240,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
22,2242,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
23,2243,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1994-07-19,1999-07-19
24,2281,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1996-03-30,1999-07-19
25,2284,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1996-09-18,1998-10-07
26,2312,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1997-02-05,1999-07-19
27,2320,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1997-08-13,1999-07-19
28,2333,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1998-10-08,1999-07-19
29,2335,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1998-10-16,1999-07-19
30,2338,http://purl.org/linkedpolitics/Role/member,http://purl.org/linkedpolitics/EUParty/ARE,1998-11-30,1999-07-19

In [14]:
# I will repeat this to see if I can reach the real number of EU parties for 2014 ?
# A.Date >= Convert(datetime, '2010-04-01' )
# So it seems many of these parties are old: These ones (8) have some new members after 2013
eu_party = """SELECT DISTINCT Inst_Acronym 
                FROM in_political_function
                WHERE Inst_Acronym LIKE '%EUParty%'  AND
                start_date >= CONVERT("2013-01-01", DATE)
                """
pd.read_sql(eu_party, conn)

                                     Inst_Acronym
0     http://purl.org/linkedpolitics/EUParty/ALDE
1      http://purl.org/linkedpolitics/EUParty/ECR
2     http://purl.org/linkedpolitics/EUParty/EFDD
3      http://purl.org/linkedpolitics/EUParty/EPP
4  http://purl.org/linkedpolitics/EUParty/EUL/NGL
5    http://purl.org/linkedpolitics/EUParty/G/EFA
6       http://purl.org/linkedpolitics/EUParty/NA
7      http://purl.org/linkedpolitics/EUParty/S&D

https://en.wikipedia.org/wiki/Europe_of_Freedom_and_Direct_Democracy#8th_European_Parliament,_2019
These guys are now obsolete but they used to be active till 2019

In [15]:
# I will repeat this to see if I can reach to real number of EU parties for 2008 ?
# A.Date >= Convert(datetime, '2010-04-01' )
eu_party = """SELECT DISTINCT Inst_Acronym 
                FROM in_political_function
                WHERE Inst_Acronym LIKE '%EUParty%'  AND
                start_date >= CONVERT("2008-01-01", DATE)
                """
pd.read_sql(eu_party, conn)

                                        Inst_Acronym
0        http://purl.org/linkedpolitics/EUParty/ALDE
1         http://purl.org/linkedpolitics/EUParty/ECR
2         http://purl.org/linkedpolitics/EUParty/EFD
3        http://purl.org/linkedpolitics/EUParty/EFDD
4         http://purl.org/linkedpolitics/EUParty/EPP
5      http://purl.org/linkedpolitics/EUParty/EPP-ED
6     http://purl.org/linkedpolitics/EUParty/EUL/NGL
7       http://purl.org/linkedpolitics/EUParty/G/EFA
8     http://purl.org/linkedpolitics/EUParty/GUE/NGL
9     http://purl.org/linkedpolitics/EUParty/IND/DEM
10         http://purl.org/linkedpolitics/EUParty/NA
11         http://purl.org/linkedpolitics/EUParty/NI
12        http://purl.org/linkedpolitics/EUParty/PES
13        http://purl.org/linkedpolitics/EUParty/PPE
14     http://purl.org/linkedpolitics/EUParty/PPE-DE
15          http://purl.org/linkedpolitics/EUParty/S
16        http://purl.org/linkedpolitics/EUParty/S&D
17        http://purl.org/linkedpolitics/EUParty/UEN
18  http://purl.org/linkedpolitics/EUParty/Verts/ALE

ABOUT ABOVE: Only new part is EFD which is an obsolete party. So we can disregard other parties?

# 0.5) Speeches versus Agenda Items

IDEA HERE: is to see if one of these is superior to other. If it is we can just commit to it and use it exclusively. We hope that Agenda items will be more expressive

In [16]:
#Number of Agenda Items per year related to climate change (so 1999-2014)
ai_cc = """SELECT COUNT(ai.Title), ai.year
                FROM  agenda_item ai
                WHERE ai.Title LIKE '%climate change%'
                GROUP BY ai.year"""
pd.read_sql(ai_cc, conn)

    COUNT(ai.Title)  year
0                 2  1999
1                 2  2000
2                 2  2001
3                 4  2002
4                 1  2004
5                 5  2005
6                 6  2006
7                11  2007
8                14  2008
9                 7  2009
10               10  2010
11                4  2011
12                5  2012
13                8  2013
14                2  2014

In [17]:
# All speeches about climate change
# To be nested in sth else
climate_speeches = """SELECT Speech_ID, Spoken_text, Language, Video_URI, Agenda_item_ID, Number,MEP_ID
                FROM   speech as s
                WHERE s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR 
                      s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%'
"""
pd.read_sql(climate_speeches, conn)

,Speech_ID,Spoken_text,Language,Video_URI,Agenda_item_ID,Number,MEP_ID
0,8,\r\n\r\nÂ Â âˆ’ Thank you. The Lisbon Treaty i...,en,http://www.europarl.europa.eu/sides/getVod.do?...,10278,14.0,1253.0
1,42,\r\n\r\nÂ Â \r\n \r\n ...,en,http://www.europarl.europa.eu/sides/getVod.do?...,10279,50.0,4529.0
2,120,"\r\n\r\nÂ Â Mr President, Georgia is not a sim...",en,http://www.europarl.europa.eu/sides/getVod.do?...,10283,127.0,33984.0
3,170,"\r\n\r\nÂ Â Mr President, I just wanted a word...",en,http://www.europarl.europa.eu/sides/getVod.do?...,10314,105.0,4382.0
4,176,"\r\n\r\nÂ Â Mr President, I rise â€“ as is bec...",en,http://www.europarl.europa.eu/sides/getVod.do?...,10314,93.0,4555.0
...,...,...,...,...,...,...,...
1470,65738,\r\n\r\nÂ Â \r\n \r\n ...,en,http://www.europarl.europa.eu/sides/getVod.do?...,21228,127.0,96807.0
1471,66063,"\r\n\r\nÂ Â Mr President, we Greens support Mr...",en,http://www.europarl.europa.eu/sides/getVod.do?...,21419,119.0,96734.0
1472,66076,\r\n\r\nÂ Â \r\n \r\n ...,en,http://www.europarl.europa.eu/sides/getVod.do?...,21428,7.0,2295.0
1473,66188,\r\n\r\nÂ Â \r\n \r\n ...,en,http://www.europarl.europa.eu/sides/getVod.do?...,21490,127.0,96958.0
1474,66436,"\r\n\r\nÂ Â Mr President, the crucial challeng...",en,http://www.europarl.europa.eu/sides/getVod.do?...,21574,46.0,28124.0

In [18]:
#Number of Speeches per year related to climate change (so 1999-2014)
# NESTED QUERY
#cl meaning climate (related) speeches

sql_query = """ SELECT COUNT(cs.Speech_ID), ai.year
                FROM (SELECT s.Speech_ID ,s.Agenda_item_ID
                FROM   speech as s
                WHERE s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR 
                      s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%') as cs, agenda_item as ai
                WHERE cs.Agenda_item_ID = ai.Agenda_item_ID
                GROUP BY ai.year
                
"""
pd.read_sql(sql_query, conn)

   COUNT(cs.Speech_ID)  year
0                  173  2008
1                  438  2009
2                  323  2010
3                  202  2011
4                  156  2012
5                  135  2013
6                   48  2014

SO, NEGATIVE CONCLUSION TO MY INITIAL IDEA. When we look at the differences between climate related Agenda items (AI) and speeches there is a difference. Most importantly, 2009 there is less AI but so much speech possibly because of Lisbon treathy taking place, Also speeches unlike AI get less and less each year, AI rather varies and fluctuates.

Conclusion to part 0.5 = We might need both the AI and Speeches as text

# 1) EU parties and CC

We should limit our queries with only "Climate Change" For this presentation, they get too long and impractical. We can add the other languages later when we do the real deal.

### Number of speeches by EU parties on CC

In [19]:
# which EU parties speak about CC more
# The reason why the total number of speeches here is much bigger than the original total (around 800) is
    # because many MEPs belong to more than one party or committee etc..
    
sql_query = """SELECT COUNT(s.spoken_text), f.Inst_Acronym
                FROM speech s, parliament_member pm, in_political_function f
                WHERE  s.MEP_ID = pm.MEP_ID
                    AND pm.MEP_ID = f.MEP_ID 
                    AND f.Inst_Acronym LIKE '%EUParty%' 
                    AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%' )
                GROUP BY f.Inst_Acronym
                ORDER BY COUNT(s.spoken_text) DESC
                """
pd.read_sql(sql_query, conn)

    COUNT(s.spoken_text)                                      Inst_Acronym
0                   1146     http://purl.org/linkedpolitics/EUParty/EPP-ED
1                    877       http://purl.org/linkedpolitics/EUParty/ALDE
2                    848        http://purl.org/linkedpolitics/EUParty/EPP
3                    561     http://purl.org/linkedpolitics/EUParty/PPE-DE
4                    554        http://purl.org/linkedpolitics/EUParty/S&D
5                    439        http://purl.org/linkedpolitics/EUParty/ECR
6                    433        http://purl.org/linkedpolitics/EUParty/PPE
7                    428        http://purl.org/linkedpolitics/EUParty/PES
8                    427      http://purl.org/linkedpolitics/EUParty/G/EFA
9                    252          http://purl.org/linkedpolitics/EUParty/S
10                   245        http://purl.org/linkedpolitics/EUParty/EFD
11                   228  http://purl.org/linkedpolitics/EUParty/Verts/ALE
12                   189       http://purl.org/linkedpolitics/EUParty/ELDR
13                   185         http://purl.org/linkedpolitics/EUParty/NA
14                   153         http://purl.org/linkedpolitics/EUParty/NI
15                   145        http://purl.org/linkedpolitics/EUParty/PSE
16                   136    http://purl.org/linkedpolitics/EUParty/IND/DEM
17                   126    http://purl.org/linkedpolitics/EUParty/EUL/NGL
18                    77       http://purl.org/linkedpolitics/EUParty/EFDD
19                    67    http://purl.org/linkedpolitics/EUParty/GUE/NGL
20                    64        http://purl.org/linkedpolitics/EUParty/EDD
21                    55        http://purl.org/linkedpolitics/EUParty/UEN
22                    24         http://purl.org/linkedpolitics/EUParty/CG
23                    17        http://purl.org/linkedpolitics/EUParty/RDE
24                    14      http://purl.org/linkedpolitics/EUParty/I-EDN
25                    12          http://purl.org/linkedpolitics/EUParty/V
26                    12        http://purl.org/linkedpolitics/EUParty/GUE
27                    10         http://purl.org/linkedpolitics/EUParty/ED
28                     6        http://purl.org/linkedpolitics/EUParty/ITS
29                     5        http://purl.org/linkedpolitics/EUParty/ARE
30                     2        http://purl.org/linkedpolitics/EUParty/LDR
31                     1        http://purl.org/linkedpolitics/EUParty/TGI

MOST INTERESTING

BUT LET'S MAKE IT LOOK BETTER left join

SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers ON Orders.CustomerID=Customers.CustomerID;

In [20]:
# ADDING the EU part names through left joining political institions

eu_party_cc_with_name = """ SELECT COUNT(spoken_text), eu.Inst_Acronym, political_institution.Institution_label
                            FROM
                            (SELECT s.spoken_text, f.Inst_Acronym
                FROM speech s, parliament_member pm, in_political_function f
                WHERE s.MEP_ID = pm.MEP_ID
                    AND pm.MEP_ID = f.MEP_ID 
                    AND f.Inst_Acronym LIKE '%EUParty%' 
                    AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%' )) as eu
                
                    LEFT JOIN political_institution ON eu.Inst_Acronym = political_institution.Acronym
                    GROUP BY eu.Inst_Acronym
                    ORDER BY COUNT(spoken_text) DESC
"""
pd.read_sql(eu_party_cc_with_name, conn)

,COUNT(spoken_text),Inst_Acronym,Institution_label
0,1146,http://purl.org/linkedpolitics/EUParty/EPP-ED,Group of the European People's Party (Christia...
1,877,http://purl.org/linkedpolitics/EUParty/ALDE,Group of the Alliance of Liberals and Democrat...
2,848,http://purl.org/linkedpolitics/EUParty/EPP,Group of the European People's Party (Christia...
3,561,http://purl.org/linkedpolitics/EUParty/PPE-DE,None
4,554,http://purl.org/linkedpolitics/EUParty/S&D,Group of the Progressive Alliance of Socialist...
5,439,http://purl.org/linkedpolitics/EUParty/ECR,European Conservatives and Reformists Group
6,433,http://purl.org/linkedpolitics/EUParty/PPE,None
7,428,http://purl.org/linkedpolitics/EUParty/PES,Group of the Party of European Socialists
8,427,http://purl.org/linkedpolitics/EUParty/G/EFA,Group of the Greens/European Free Alliance
9,252,http://purl.org/linkedpolitics/EUParty/S,None
10,245,http://purl.org/linkedpolitics/EUParty/EFD,Europe of freedom and democracy Group
11,228,http://purl.org/linkedpolitics/EUParty/Verts/ALE,None
12,189,http://purl.org/linkedpolitics/EUParty/ELDR,"Group of the European Liberal, Democrat and Re..."
13,185,http://purl.org/linkedpolitics/EUParty/NA,Non-attached Members
14,153,http://purl.org/linkedpolitics/EUParty/NI,None
15,145,http://purl.org/linkedpolitics/EUParty/PSE,None
16,136,http://purl.org/linkedpolitics/EUParty/IND/DEM,Independence/Democracy Group
17,126,http://purl.org/linkedpolitics/EUParty/EUL/NGL,Confederal Group of the European United Left -...
18,77,http://purl.org/linkedpolitics/EUParty/EFDD,Europe of Freedom and Direct Democracy Group
19,67,http://purl.org/linkedpolitics/EUParty/GUE/NGL,None
20,64,http://purl.org/linkedpolitics/EUParty/EDD,Group for a Europe of Democracies and Diversities
21,55,http://purl.org/linkedpolitics/EUParty/UEN,Union for Europe of the Nations Group
22,24,http://purl.org/linkedpolitics/EUParty/CG,None
23,17,http://purl.org/linkedpolitics/EUParty/RDE,None
24,14,http://purl.org/linkedpolitics/EUParty/I-EDN,None
25,12,http://purl.org/linkedpolitics/EUParty/GUE,None
26,12,http://purl.org/linkedpolitics/EUParty/V,None
27,10,http://purl.org/linkedpolitics/EUParty/ED,None
28,6,http://purl.org/linkedpolitics/EUParty/ITS,"Identity, Tradition and Sovereignty Group"
29,5,http://purl.org/linkedpolitics/EUParty/ARE,None
30,2,http://purl.org/linkedpolitics/EUParty/LDR,None
31,1,http://purl.org/linkedpolitics/EUParty/TGI,Technical Group of Independent Members - mixed...

Still looks bad too much  we can get rid of some none's. Not now but we can combine the christian democrats they are everywhere, just divided into a couple of different names.

SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
HAVING COUNT(CustomerID) > 5

In [21]:
# ADDING the EU part names through left joining political instiutions
# Now with having MORE THAN 100

eu_party_cc_with_name_100 = """ SELECT COUNT(spoken_text), eu.Inst_Acronym, political_institution.Institution_label
                            FROM
                            (SELECT s.spoken_text, f.Inst_Acronym
                FROM speech s, parliament_member pm, in_political_function f
                WHERE  s.MEP_ID = pm.MEP_ID
                    AND pm.MEP_ID = f.MEP_ID 
                    AND f.Inst_Acronym LIKE '%EUParty%' 
                    AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%' )) as eu
                
                    LEFT JOIN political_institution ON eu.Inst_Acronym = political_institution.Acronym
                    
                    GROUP BY eu.Inst_Acronym
                    
                    HAVING COUNT(spoken_text) >= 100
                    
                    ORDER BY COUNT(spoken_text) DESC
"""
pd.read_sql(eu_party_cc_with_name_100, conn)

,COUNT(spoken_text),Inst_Acronym,Institution_label
0,1146,http://purl.org/linkedpolitics/EUParty/EPP-ED,Group of the European People's Party (Christia...
1,877,http://purl.org/linkedpolitics/EUParty/ALDE,Group of the Alliance of Liberals and Democrat...
2,848,http://purl.org/linkedpolitics/EUParty/EPP,Group of the European People's Party (Christia...
3,561,http://purl.org/linkedpolitics/EUParty/PPE-DE,None
4,554,http://purl.org/linkedpolitics/EUParty/S&D,Group of the Progressive Alliance of Socialist...
5,439,http://purl.org/linkedpolitics/EUParty/ECR,European Conservatives and Reformists Group
6,433,http://purl.org/linkedpolitics/EUParty/PPE,None
7,428,http://purl.org/linkedpolitics/EUParty/PES,Group of the Party of European Socialists
8,427,http://purl.org/linkedpolitics/EUParty/G/EFA,Group of the Greens/European Free Alliance
9,252,http://purl.org/linkedpolitics/EUParty/S,None
10,245,http://purl.org/linkedpolitics/EUParty/EFD,Europe of freedom and democracy Group
11,228,http://purl.org/linkedpolitics/EUParty/Verts/ALE,None
12,189,http://purl.org/linkedpolitics/EUParty/ELDR,"Group of the European Liberal, Democrat and Re..."
13,185,http://purl.org/linkedpolitics/EUParty/NA,Non-attached Members
14,153,http://purl.org/linkedpolitics/EUParty/NI,None
15,145,http://purl.org/linkedpolitics/EUParty/PSE,None
16,136,http://purl.org/linkedpolitics/EUParty/IND/DEM,Independence/Democracy Group
17,126,http://purl.org/linkedpolitics/EUParty/EUL/NGL,Confederal Group of the European United Left -...

### MOVING ON: QUESTION - DID THE CHRISTIAN DEMOCRATS SPEAK ABOUT CC MOST?

### WHY NOT THE GREENS FOR EXAMPLE?

Well there is a very simple reason for that but let's approach it a bit more indirectly

### Let's have a look at the CC Speeches at Chair Level

In [22]:
# CC Speeches at Chair Level
# To see better which group cares about CC more institutionally/ideologically


# (1)
# Chairs who gave speeches about climate change belonged to which political institutions?
    # The inquiry must be specific to chairs who gave speeches while they were chairs.
    # 1) go see who gave speeches about CC then 2) how many of the m were chairs? 
        # 3) which commission or party's chais spoke more about CC
#MEP_ID is weirdly coming as a float XXX.Y BTW
# Also NOtice: DISTINCT, otherwise it counts each MEP again for each speech they gave about CC
# but also without DISTINCT, because each mep can have talked about Climate Change sometimes when he was a chair and also when he was not a chaie
        
MEPs_speeches_CC = """SELECT DISTINCT s.MEP_ID
                FROM speech as s
                WHERE s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%'
                """
df = pd.read_sql(MEPs_speeches_CC, conn) 
df

       MEP_ID
0         NaN
1         1.0
2       840.0
3      1037.0
4      1038.0
..        ...
360   97344.0
361  103132.0
362  105624.0
363  107386.0
364  108329.0

[365 rows x 1 columns]

So now we have a list off all the MEPs who spoke about CC, we nest it in another query where we find of these people who have acted as chairs 
In this sense this query is not perfect. It just checks if they had a chair role. However it does not check whether these people gave these speeches when they were chairs or not.

In [23]:
# shows how many times speeches about Climate Change were given by chairs of political institutions
# add here the LABELS
Chairs_speeches_CC = """SELECT COUNT(mc.MEP_ID), pf.Inst_Acronym
                        FROM in_political_function as pf,
                        (SELECT DISTINCT s.MEP_ID
                FROM speech as s
                WHERE s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR 
                      s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%') as mc
            
                        WHERE mc.MEP_ID = pf.MEP_ID AND pf.RoleName LIKE '%chair%'
                        GROUP BY pf.Inst_Acronym
                        ORDER BY COUNT(mc.MEP_ID) DESC
                        """

df = pd.read_sql(Chairs_speeches_CC, conn) 
df.head(10)

   COUNT(mc.MEP_ID)                                      Inst_Acronym
0                28      http://purl.org/linkedpolitics/EUParty/G/EFA
1                27       http://purl.org/linkedpolitics/EUParty/ALDE
2                25        http://purl.org/linkedpolitics/EUParty/S&D
3                17     http://purl.org/linkedpolitics/EUParty/EPP-ED
4                16  http://purl.org/linkedpolitics/EUParty/Verts/ALE
5                16        http://purl.org/linkedpolitics/EUParty/EPP
6                10        http://purl.org/linkedpolitics/EUParty/PES
7                10     http://purl.org/linkedpolitics/EUParty/PPE-DE
8                 9    http://purl.org/linkedpolitics/EUParty/EUL/NGL
9                 8          http://purl.org/linkedpolitics/EUParty/S

So now; Greens come first: https://en.wikipedia.org/wiki/European_Free_Alliance
If you go to their website even it starts with a call for climate emergency. So this looks like Greens should be the top. But why were the christians?
Well, the first hunch is to check their population in the parlaiment

In [24]:
# How many members these EU parties have?
eu_party_members = """SELECT COUNT(pf.MEP_ID), pi.institution_label, pi.acronym
                        FROM in_political_function as pf, political_institution as pi
                        WHERE pf.inst_acronym = pi.acronym
                        AND pf.RoleName LIKE '%member%'
                        GROUP BY pi.institution_label
                        ORDER BY COUNT(pf.MEP_ID) DESC
                        """
df8 = pd.read_sql(eu_party_members, conn) 
df8

,COUNT(pf.MEP_ID),institution_label,acronym
0,943,Group of the European People's Party (Christia...,http://purl.org/linkedpolitics/EUParty/EPP-ED
1,548,Group of the Party of European Socialists,http://purl.org/linkedpolitics/EUParty/PES
2,507,Group of the European People's Party (Christia...,http://purl.org/linkedpolitics/EUParty/EPP
3,449,Group of the Progressive Alliance of Socialist...,http://purl.org/linkedpolitics/EUParty/S&D
4,442,Group of the Alliance of Liberals and Democrat...,http://purl.org/linkedpolitics/EUParty/ALDE
5,202,Non-attached Members,http://purl.org/linkedpolitics/EUParty/NA
6,179,Group of the Greens/European Free Alliance,http://purl.org/linkedpolitics/EUParty/G/EFA
7,174,Confederal Group of the European United Left -...,http://purl.org/linkedpolitics/EUParty/EUL/NGL
8,173,"Group of the European Liberal, Democrat and Re...",http://purl.org/linkedpolitics/EUParty/ELDR
9,156,Union for Europe of the Nations Group,http://purl.org/linkedpolitics/EUParty/UEN
10,126,European Conservatives and Reformists Group,http://purl.org/linkedpolitics/EUParty/ECR
11,68,Independence/Democracy Group,http://purl.org/linkedpolitics/EUParty/IND/DEM
12,56,Europe of freedom and democracy Group,http://purl.org/linkedpolitics/EUParty/EFD
13,30,Technical Group of Independent Members - mixed...,http://purl.org/linkedpolitics/EUParty/TGI
14,30,Group for a Europe of Democracies and Diversities,http://purl.org/linkedpolitics/EUParty/EDD
15,28,"Identity, Tradition and Sovereignty Group",http://purl.org/linkedpolitics/EUParty/ITS
16,4,Europe of Freedom and Direct Democracy Group,http://purl.org/linkedpolitics/EUParty/EFDD

So now we see Christian Democrats have at least 10 times more MEPs than Greens. CD only seem to speak a lot about CC just because its numbers are too many.

CONCLUSION: In this part we have shown that CD sheer number enables them to make most of the speeches but this cannot be used to say that they are the party which is most concerned about it.
PERHAPS we can later expand this inquiry to calculate average climate related speech per head (again based on EU party) then we would see who in a relative sense and quantititatively spoke about CC.

# 2) EU Comittees and CC

In [25]:
#Not necessary; Just to extend rows etc.
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', -1)

In [26]:
# which EU committees speak about CC more
sql_query = """SELECT COUNT(s.spoken_text), f.Inst_Acronym
                FROM speech s, parliament_member pm, in_political_function f
                WHERE s.MEP_ID = pm.MEP_ID
                    AND pm.MEP_ID = f.MEP_ID 
                    AND f.Inst_Acronym LIKE '%Committee%' 
                    AND ( s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenaghen agreement%' OR s.spoken_text LIKE '%Copenaghen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%' )
                GROUP BY f.Inst_Acronym
                ORDER BY COUNT(s.spoken_text)  DESC
                """
df = pd.read_sql(sql_query, conn) 
df.head(10)
# The Committee on Climate Change has never given a speech on Climata Change??????

,COUNT(s.spoken_text),Inst_Acronym
0,645,"http://purl.org/linkedpolitics/EUCommittee/Committee_on_the_Environment,_Public_Health_and_Food_Safety"
1,508,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Constitutional_Affairs
2,508,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Foreign_Affairs
3,496,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Petitions
4,482,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Economic_and_Monetary_Affairs
5,471,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Employment_and_Social_Affairs
6,452,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Fisheries
7,435,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Budgets
8,402,"http://purl.org/linkedpolitics/EUCommittee/Committee_on_Industry,_Research_and_Energy"
9,344,http://purl.org/linkedpolitics/EUCommittee/Committee_on_Regional_Development

These committees spoke about climate change (Top 10)
Not suprisingly
	http://purl.org/linkedpolitics/EUCommittee/Committee_on_the_Environment,_Public_Health_and_Food_Safety
     is the top

In [27]:
#Not necessary; Just to reduce rows etc.
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', -1)

# 3) CC and Language

In [28]:
#CC speeches according to their language
# NESTED QUERY; all speeches inside and the outside is grouping of these into language
#cl meaning climate (related) speeches

sql_query = """ SELECT COUNT(cs.Speech_ID), cs.language
                FROM 
                (SELECT Speech_ID, Spoken_text, Language, Video_URI, Agenda_item_ID, Number,MEP_ID
                FROM   speech as s
                WHERE s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR 
                      s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%') as cs, agenda_item as ai
                      
                WHERE cs.Agenda_item_ID = ai.Agenda_item_ID
                GROUP BY cs.language
                ORDER BY COUNT(cs.Speech_ID) DESC
"""
pd.read_sql(sql_query, conn)

    COUNT(cs.Speech_ID) Language
0   1109                 en
1   173                  de
2   105                  fr
3   43                   nl
4   36                   it
5   2                    hu
6   2                    pl
7   1                    es
8   1                    sl
9   1                    pt
10  1                    cs
11  1                    fi

ABOVE is a bit stupid because it is biased towards the languages we inquired it. We should redo it, below; using agenda item a the basis

In [29]:
#Number of Agenda Items per year related to climate change (so 1999-2014)
# WE ALREADY KNOW THAT AGENDA ITEM TITLES ARE IN ENGLISH
ai_cc = """SELECT Agenda_item_ID, Title, Day, Month, Year, Number
                FROM  agenda_item ai
                WHERE ai.Title LIKE '%climate change%'"""
pd.read_sql(ai_cc, conn)

,Agenda_item_ID,Title,Day,Month,Year,Number
0,82,Climate change,6,10,1999,7
1,246,Climate change,15,12,1999,3
2,837,Climate change â€“ Floods,25,10,2000,11
3,922,The Hague Conference on Climate Change,29,11,2000,6
4,1390,Bonn Conference on Climate Change,4,7,2001,6
...,...,...,...,...,...,...
78,19500,Climate change conference (debate),21,10,2013,11
79,19578,Climate change conference (B7-0482/2013 ) (vote),23,10,2013,19
80,19622,Climate change conference (B7-0482/2013 ),24,10,2013,24
81,21426,Technical implementation of the Kyoto Protocol to the UN Framework Convention on Climate Change (A7-0171/2014 - Vladimir Urutchev) (vote),16,4,2014,38
82,21484,Technical implementation of the Kyoto Protocol to the UN Framework Convention on Climate Change (A7-0171/2014 - Vladimir Urutchev),16,4,2014,90

SELECT Orders.OrderID, Customers.CustomerName, Orders.OrderDate
FROM Orders
INNER JOIN Customers
ON Orders.CustomerID=Customers.CustomerID;

In [30]:
#ALL THE SPEECHES GIVEN UNDER AN AI TITLE THAT IS RELATED TO CC

sp_cc = """SELECT s.Speech_ID, ai_cc.Agenda_item_ID, ai_cc.Title, ai_cc.year

            FROM  speech as s, (SELECT Agenda_item_ID, Title, Day, Month, Year, Number
                FROM  agenda_item ai
                WHERE ai.Title LIKE '%climate change%') as ai_cc
            
            WHERE ai_cc.Agenda_item_ID = s.Agenda_item_ID
            """
pd.read_sql(sp_cc, conn)

,Speech_ID,Agenda_item_ID,Title,Year
0,1796,10615,Building a Global Climate Change Alliance (short presentation),2008
1,1797,10615,Building a Global Climate Change Alliance (short presentation),2008
2,3323,10921,State of the negotiations on the climate change and energy package (debate),2008
3,3324,10921,State of the negotiations on the climate change and energy package (debate),2008
4,3325,10921,State of the negotiations on the climate change and energy package (debate),2008
...,...,...,...,...
703,58712,19500,Climate change conference (debate),2013
704,58713,19500,Climate change conference (debate),2013
705,58714,19500,Climate change conference (debate),2013
706,59416,19622,Climate change conference (B7-0482/2013 ),2013
707,59417,19622,Climate change conference (B7-0482/2013 ),2013

ANOTHER RATHER DISAPPOINTING RESULT: So apparently Agenda titles that are before 2008 are empty (speechwise). They have only titles but there is no unique speeches associated with them.

In [31]:
#ALL THE SPEECHES GIVEN UNDER AN AI TITLE THAT IS RELATED TO CC
#The above but this time according to language
# So now we know number is 709 (we could turn what is above into a count)

sp_cc_language = """SELECT COUNT(s.Speech_ID), s.language

            FROM  speech as s, (SELECT Agenda_item_ID, Title, Day, Month, Year, Number
                FROM  agenda_item ai
                WHERE ai.Title LIKE '%climate change%') as ai_cc
            
            WHERE ai_cc.Agenda_item_ID = s.Agenda_item_ID
            GROUP BY s.language
            ORDER BY  COUNT(s.Speech_ID) DESC
            """
pd.read_sql(sp_cc_language, conn)

    COUNT(s.Speech_ID) language
0   197                 en
1   89                  de
2   72                  fr
3   51                  pl
4   38                  nl
5   34                  pt
6   33                  it
7   29                  sv
8   29                  fi
9   22                  ro
10  20                  es
11  18                  hu
12  17                  sl
13  17                  el
14  14                  da
15  10                  sk
16  8                   lt
17  8                   cs
18  1                   lv
19  1                   et

According to the distribution of speeches given in an CC related AI based on he language
SOME INTERESTING RESULTS:
POLISH for example used more times than Dutch (they are the 4th
PORTUGUESE beats Italian

In [32]:
# ALSO the same done based on text; gives a rather similar result

# this is the number of climate change speeches (in the text) per country (all main languages)
sql_query = """SELECT COUNT(s.spoken_text), c.name
                FROM speech s, represents r, country c
                WHERE  (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR 
                      s.spoken_text LIKE '%global warming%' )
                    AND s.MEP_ID = r.MEP_ID
                    AND c.acronym = r.countryacronym 
                GROUP BY c.name
                ORDER BY COUNT(s.spoken_text)  DESC
                """
df = pd.read_sql(sql_query, conn) 
df.head(10)

   COUNT(s.spoken_text)            name
0  559                   United_Kingdom
1  231                   Ireland
2  158                   Germany
3  83                    France
4  53                    Poland
5  47                    Netherlands
6  41                    Italy
7  40                    Austria
8  39                    Romania
9  35                    Hungary

Conclusion for Language and CC
Although ENG, DE and FR are the top third. There are some unexpected results such as POLAND being the forth language that speeches about CC are given under a CC related agenda item.

# 6) CC and Age

Afterall CC is about intergenerational justice

In [33]:
# Who are the MEPs who spoke about Climate change the most (and which country they are from)?

members_from_country = """
SELECT pm.Given_name, pm.family_name,pm.MEP_ID, r.countryAcronym, COUNT(s.Spoken_text)
FROM Parliament_member as pm, Speech as s, represents as r
WHERE pm.MEP_ID = s.MEP_id AND s.MEP_ID = r.MEP_id AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR 
                      s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%')
                    GROUP BY pm.MEP_ID
                    ORDER BY COUNT(s.Spoken_text) DESC
                    
"""
df = pd.read_sql(members_from_country, conn) 
df.head(10)

   Given_name family_name  MEP_ID countryAcronym  COUNT(s.Spoken_text)
0  Sean        Kelly       96668   IE             57
1  Mairead     Mcguinness  28115   IE             38
2  Jerzy       Buzek       28269   PL             37
3  Daniel      Hannan      4555    GB             34
4  Chris       Davies      4554    GB             26
5  Sir Graham  Watson      2155    GB             24
6  Avril       Doyle       4382    IE             23
7  Gerard      Batten      28497   GB             23
8  Charles     Tannock     4521    GB             22
9  Syed        Kamall      33569   GB             20

Sean	Kelly	has a lost of speeches about climate change

In [34]:
# Who are the youngest MEPs who spoke about climate change (and which country are they from)?

youngest_members_from_country = """
SELECT pm.date_of_birth, pm.Given_name, pm.family_name,pm.MEP_ID, r.countryAcronym, 
COUNT(s.Spoken_text)
FROM Parliament_member as pm, speech as s, represents as r
WHERE pm.MEP_ID = s.MEP_id AND s.MEP_ID = r.MEP_id AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenhagen agreement%' OR s.spoken_text LIKE '%Copenhagen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%')
                    GROUP BY pm.MEP_ID
                    ORDER BY pm.date_of_birth DESC
                    
"""
df = pd.read_sql(youngest_members_from_country, conn) 
df.head(10)

,date_of_birth,Given_name,family_name,MEP_ID,countryAcronym,COUNT(s.Spoken_text)
0,1983-04-13,Paul,Murphy,97344,IE,6
1,1983-02-18,Lara,Comi,96775,IT,1
2,1982-12-20,Jan Philipp,Albrecht,96736,DE,1
3,1981-12-09,Barbara,Matera,96813,IT,2
4,1981-11-22,Franziska,Keller,96734,DE,11
5,1980-10-13,Magor Imre,Csibi,39719,RO,1
6,1980-09-12,Daniel,Van Der Stoep,96946,NL,2
7,1980-04-24,Elena,Basescu,96814,RO,1
8,1979-08-24,Franziska Katharina,Brantner,96662,DE,2
9,1979-05-20,Mariya,Nedelcheva,96848,BG,1

Not much to say not too expressive

Also we had an AVG based on calculating the ages of MEPs in general and then to AVG ages of MEPs who spoke about CC. However there is no death rate in the database so all of the averages end up very high. Also there is a fundamental mistake we thought. It just proves that people speak about CC now as opposed to 20 years ago. However, this is not so interesting.

# 5) CC and other subjects

In [35]:
# Interconnection of CC: How many speeches were given under another agenda item? 
# How many are there under the ones that are related to climate change?

sql_query = """
                SELECT ai.Title, COUNT(s.spoken_text)
                FROM speech as s, agenda_item as ai
                WHERE s.agenda_item_id = ai.agenda_item_id 
                AND (s.spoken_text LIKE '%Klimawandel%' OR 
                    s.spoken_text LIKE '%Klimaänderung%' OR 
                    s.spoken_text LIKE '%climate change%' OR
                    s.spoken_text LIKE '%klimaatverandering%'OR
                    s.spoken_text LIKE '%changement climatique%' OR
                      s.spoken_text LIKE '%cambiamenti climatici%' OR
                      s.spoken_text LIKE '%Copenaghen agreement%' OR 
                      s.spoken_text LIKE '%Copenaghen accord%' OR
                      s.spoken_text LIKE '%Lisbon Treaty%' OR
                      s.spoken_text LIKE '%Treaty of Lisbon%' OR
                      s.spoken_text LIKE '%global warming%') 
                AND ai.Title NOT LIKE '%climate change%'
                GROUP BY ai.Title
                ORDER BY COUNT(s.spoken_text) DESC
                """
df = pd.read_sql(sql_query, conn) 
df.head(20)

,Title,COUNT(s.spoken_text)
0,Explanations of vote,152
1,One-minute speeches on matters of political importance,32
2,Outcome of the referendum in Ireland (debate),20
3,Question Time (Commission),15
4,Preparation of the European Council (29 and 30 October 2009) (debate),15
5,Preparation of the European Council to be held on 10 and 11 December 2009 (debate),13
6,Question Time (Council),11
7,Outcome of the European Council on 11-12Â December 2008 - French Presidencyâ€™s term of office (debate),11
8,Parliament's new role and responsibilities in implementing the Lisbon Treaty - Institutional balance of the European Union - Relations between the European Parliament and national parliaments under the Treaty of Lisbon - Financial aspects of the Lisbon Tr,11
9,Question Hour with the President of the Commission,11
10,Preparation of the European Council (11-12 December 2008) (debate),10
11,Future of the CAP after 2013 (debate),10
12,Presentation of the Czech Presidency's programme (debate),9
13,Order of business,8
14,Statement by the President-designate of the Commission (debate),8
15,EU accession to the European Convention on Human Rights (debate),8
16,Addressing the challenge of water scarcity and droughts in the European Union (debate),7
17,The institutional aspects of the creation of a European external action service - Creation of a European external action service: State of the negotiations with Member States (debate),7
18,"Outcome of the European Council on 29 and 30 October 2009 including the mandate and attributions of the President of the European Council and of the High Representative of the Union for the foreign and security policy/Vice-president of the Commission, as",7
19,Results of the Swedish Presidency - Outcome of the European Council on 10 and 11 December 2009 (debate),7

# 6) Possible Cleaning and Additions to the Database

1) We have found a dataset titled EU_states: It is basically a table with demographic characteristics of the member states. Based on it we might look for some correlations between them and the concerns about CC

2) There is also European datasets : There 2 things can be interesting again as tables: One is about satisfaction of the citizens about their enviroment and another about pollution. We can add these to our EUP database to see whether there is any correlation

3) Also there is another database of carbon emissons based on country. It can also be used.